@p1: LoAy;
@p2: RProduct;

.@{p1}-Rtss {
    display: inline-block;
    width: 120px;
    height: 60px;
}


/** 商品推荐 start **/
.@{p2}-rd-single {
  width: 262px;
  padding: 20px 10px 40px 0px;
  float: left;
}

.@{p2}-rd-t-w {
  width: 262px;
  height: 262px;
}

.@{p2}-rd-half-t {
  background-color: #F0F8FF;
  &:hover {
    cursor: pointer;
    background-color: #FFF;
  }
}

.@{p2}-rd-half-d {
  width: 100%;
}

.@{p2}-rd-good-title {
  font-size: 14px;
  padding: 10px 0px;
  color: #363636;
  text-align: center;
}

.@{p2}-rd-good-info {
  width: 100%;
}

.@{p2}-product-show-price {
  display: block;
  text-align: center;
  font-style: normal;
  font-size: 20px;
  color: red;
  letter-spacing: normal;
  i {
    font-size: 15px;
    font-style: normal;
  }
}
/** 商品推荐 end **/