
ul, ol, li { list-style: none; }

html, body, div, p, a, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6,
form, input, textarea, select, button, th, td { margin: 0; padding: 0; border: none}

.glob-font {
  font-family: "Microsoft YaHei",sans-serif;
}

body {
  .glob-font;
  font-size: 62.5%;
}

a {
  text-decoration: none;
  outline: none;
}

.wipeFloat {
  content: "";
  display: block;
  clear: both;
}


.main-width {
  width: 1100px;
  margin: 0 auto;
}

.clear {
  content: "";
  clear: both;
  display: block;
}

.clearfloat::after {
  .clear;
}