// out: C:\\shined\1yanbuhe\view\v1\style\icon.css, sourcemap: false, compress: true;


// 阿里巴巴矢量图标
// @font-face {
//   font-family: 'iconfont';
//   src: url('//at.alicdn.com/t/font_1466642012_4964983.eot'); /* IE9*/
//   src: url('//at.alicdn.com/t/font_1466642012_4964983.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//   url('//at.alicdn.com/t/font_1466642012_4964983.woff') format('woff'), /* chrome、firefox */
//   url('//at.alicdn.com/t/font_1466642012_4964983.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
//   url('//at.alicdn.com/t/font_1466642012_4964983.svg#iconfont') format('svg'); /* iOS 4.1- */
// }

.icon-m1 {
  margin-right: 40px;
  float: left;
}

.icon-me {
  margin-right: 6px;
  font-size: 1.3rem;
}

.status-num {
  font-size: 0.9rem;
}

.icon-color {
  color: #000;
}
