@import "common.less";

@logo-h: 140px;

body {
  background-color: #F0F8FF;
}

.floatLeft {
  float: left;
}

.top {
  background-color: #F2F2F2;
  width: 100%;
  height: 28px;
}

.top-bar {
  height: 100%;
}

.top-bar-side {
  li {
    margin-right: 15px;
    font-size: 12px;
    color: #888;
    display: inline-block;
    line-height: 28px;
  }
}

.top-bar-auth-box {
  display: inline-block;
}

.top-bar-more {
  width: 50px;
  height: 50px;
  background-color: #0000ed;
}

.cutoff-icon {
  color: #D9D9D9;
  display: inline-block;
  margin-left: 10px;
}

/**
* home body area.
**/
#idx-body {
  width: 100%;
}

.secd-nav {
  height: 86px;
  width: 100%;
  border-bottom: 2px solid #EE0000;
  .secd-nav-2 {
    height: 100%;
    position: relative;
  }
}

/**
* logo
**/
#logo {
  width: @logo-h;
  position: absolute;
  top: 0;
  left: 0;
}

/**
* 首页第一坑位区域
**/
.idx-poster {
  background-color: #fff;
  width: 100%;
  height: 330px;
  overflow: hidden;
  margin-bottom: 20px;
}

/** 第一坑位侧边栏 **/
.idxp-side-nav-bar {
  width: @logo-h;
  height: 330px;
  background-color: #F0F3F7;
  float: left;
}

/** 侧边栏主导航 **/
.fside-bar-rd {
  padding: 30px 0px 30px 0px;
  width: 100%;
  height: 240px;
}

.fside-single-line {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  color: #4F4F4F;
  a {
    color: inherit;
    &:hover {
      color: #EE0000;
    }
  }
}

/** 轮播图区域 **/
.big-poster-area {
  width: 750px;
  float: left;
  .i-bpg;
}

.i-bpg {
  height: 320px;
  padding: 10px 10px 0px 10px;
}

.idxp-post-pic {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/** 右部辅助海报 **/
.rt-side-bar {
  float: right;
  width: 100px;
  padding: 10px 0px 0px 10px;
  height: 320px;
}


.sbar-signin {
  width: 180px;
  height: 100%;
  float: right;
  background-color: #F0F3F7;
}

/** 品牌廊 **/
.brand-banner {
  width: 100%;
  padding: 20px 0px 20px 0px;
}

.bb-aline {
  float: left;
  font-size: 15px;
  font-weight: 400;
}

.brand-title {
  font-size: inherit;
  font-weight: inherit;
}

.brand-logo {
  margin-right: 20px;
  padding: 7px 14px;
  color: #fff;
  position: relative;
}

/** 三角标 start **/
/* 品牌廊 */
.brand-logo-flag-1:before {
  .flag-cat;
  border-left: 9px solid #6A5ACD;
}

/* 惠购物 */
.brand-logo-flag-2:before {
  .flag-cat;
  border-left: 9px solid  #CD2990;
}

.flag-cat {
  content: "";
  position: absolute;
  left: 100%;
  top: 12px;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}
/** 三角标 end **/

.brand-show-poster {
  width: 100%;
}

/** 品牌海报区 **/
.bs-poster-horizontal {
  width: 100%;
  height: 200px;
}

.bs-poster-line {
  width: 360px;
  height: 200px;
  float: left;
  overflow: hidden;
}

.bs-poster-line:hover {
  box-shadow: 0px 0px 0px 2px #E61414;
}

.bs-mr {
  margin-right: 10px;
}

/** LOGO showing alleyway **/
#logoShowAlleyway {
  padding: 10px 0px;
  background-color: #fff;
}


/** 商品推荐 start **/
.hui-rd {
  padding-left: 10px;
  width: 1090px;
  background-color: #fff;
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}

.rd-single {
  width: 262px;
  padding: 20px 10px 40px 0px;
  float: left;
}
.rd-t-w {
  width: 262px;
  height: 262px;
}

.rd-half-t {
  background-color: #F0F8FF;
  &:hover {
    cursor: pointer;
    background-color: #FFF;
  }
}

.rd-half-d {
  width: 100%;
}

.rd-good-title {
  font-size: 14px;
  padding: 10px 0px;
  color: #363636;
  text-align: center;
}

.rd-good-info {
  width: 100%;
}

.product-show-price {
  display: block;
  text-align: center;
  font-style: normal;
  font-size: 20px;
  color: red;
  letter-spacing: normal;
  i {
    font-size: 15px;
    font-style: normal;
  }
}



/** 商品推荐 end **/